@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Macondo&family=Ms+Madi&family=Roboto+Flex:opsz,wght@8..144,100&family=Roboto:wght@100&family=Square+Peg&family=Updock&family=Whisper&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

form{
    margin: auto;
    margin-top: 1em;
    box-shadow: 2em 1em 2em darkslategrey;
}

.row #addItem {
    float: right;
}

.row #item-wrapper {
    background-color: rgb(139, 176, 176);
    width: 50%;
}

/* list */
.list-unstyled {
    height: 3em;
    padding-top: .5em;
}
.addLine{
    text-decoration: line-through ;
}

ul#item-wrapper .list-unstyled:hover .list-icon {
    display: inline-block;
}

.list-content {
   margin-left: 2em;
}

.list-icon {
    float: right;
    top: -1;
    display: none;
}